
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    background:  #bfe6ff;
    padding: 30px 10px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    color: #1d5fa6;
    margin-bottom: 25px;
}

form {
    width: 850px;
    max-width: 95%;
    margin: auto;
    padding: 35px 45px;
    background:  #f6fbff;
    border-radius: 12px;
    border: 2px solid #b7dfff;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: #083a5d;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 70%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1.5px solid #9fcaf3;
    font-size: 18px;
    margin-left: 10px;
    outline: none;
    background-color: #ffffff;
}

textarea {
    resize: none;
    height: 90px;
}

input[type="file"] {
    font-size: 16px;
    margin-left: 10px;
}


input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.2);
    margin-left: 15px;
    margin-right: 6px;
}

p {
    font-size: 16px;
    margin-top: 15px;
    color: #0b2d45;
}

input[type="submit"] {
    display: block;
    margin: 20px auto 0 auto;
    width: 320px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background:  #0b5fa6;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background: #084a82;
    transform: scale(1.03);
}


input:focus,
select:focus,
textarea:focus {
    border: 2px solid #2a86d6;
    box-shadow: 0px 0px 8px rgba(42, 134, 214, 0.4);
}

